body{
    font-family: "Montserrat", sans-serif;
    padding: 0 70px;
    margin: 0px;
}
.title_container{
    margin: 0 auto;
    padding: 0 90px;
}
.title{
    width: 100%;
    margin: 0;
    padding: 0 0 36px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}
.title_text{
    margin: 0;
    color: rgb(35, 49, 62);
    font-size: 48px;
    line-height: 59px;
    font-weight: bold;
    text-align: center;
}
.box1_container {
    width: 86%;
    margin: 21px auto;
    display: flex;
    justify-content: end;
    align-items: center;
}
.box1{
    font-size: 27px;
    width: 242px;
    height: 62px;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    background-color: #ADE466;
    border-radius: 24px;
    border: 2px solid;
}
.box_hr{
    border: 5px #000;
    border-style: none none dashed none;
    border-top-right-radius: 22px;
    height: 1px;
    width: 38%;

}
.round1 {
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    width: 304px;
    height: 30px;
    background-color: #EDC0FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.round2{
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    width: 140px;
    height: 30px;
    background-color: #EDC0FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1technical {
    height: 500px;  
    display: flex;
    justify-content: space-around;
    width: 85%;
    left: 140px;
    position: relative;
}
.technical1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 38%;
}
.nontechnical1 {
    display: flex;
    width: 39%;
    flex-direction: column;
}
.text {
    text-align: end;
    font-size: 17px;
    font-weight: 500;
}
.text2 {
    text-align: start;
    font-size: 17px;
    font-weight: 500;
}
ul{
    padding: 0;
}
.box_hrcha1{
    border: 5px #000;
    border-style: none none dashed none;
    border-top-right-radius: 22px;
    height: 1px;
    width: 38%;
}
.tech_hr {
    border: 5px #000;
    border-style: none dashed none none;
    height: 582px;
    position: relative;
    bottom: 52px;
    right: 4px;
}
.box2_container{
    width: 86%;
    margin: 0px auto 21px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.tech_hr2 {
    border: 5px #000;
    border-style: none dashed none none;
    height: 465px;
    position: relative;
    bottom: 54px;
}
.box2technical {
    height: 380px;
    display: flex;
    justify-content: space-around;
    width: 82%;
    position: relative;
    left: 47px;
}
.roundchange {
    font-weight: bolder;
    font-size: 19.8px;
    border-radius: 25px;
    width: 380px;
    height: 50px;
    background-color: #DDCBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
}
.center {
    margin-bottom: 33px;
    display: flex;
    justify-content: center;
}
.fullstack_img_div{
    display: flex;
    justify-content: center;
}
.fullstack_img {
    width: 550px;
    height: 434px;
}
img{
    width: 100%;
}